@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
	--background: #ffffff;
}

/*
.banner{
	background-image: url();
}
*/

.Offer {
	background-image: url(../public/assets/pic1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	object-fit:cover ;
}