@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
